@import url("../twentyfourteen/style.css");
@import "css/reset";

/* variables */

$top-nav-blue: #21759b;
$light-blue: #d5eaf6;
$f-stack-primary: "Roboto Slab", Gerogia, serif;
$f-stack-secondary: "Montserrat", arial, sans-serif;
$f-stack-text: "Roboto", arial, sans-serif;
$f-stack-special: "Roboto Condensed", arial, sans-serif;
$f-stack-alt: "Cabin", arial, sans-serif;

/* mixins */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

/* utility classes */
.pageWidth{width: 90%; max-width:1260px;}

.widthAuto{width:auto;}
.width15Percent{width:14.9%;}
.width16Percent{width:16.6%;}
.width20Percent{width:19.9%;}
.width25Percent{width:24.9%;}
.width33Percent{width:33.33333%;}
.width39Percent{width:39%;}
.width40Percent{width:39.9%;}
.width42Percent{width:41.9%;}
.width45Percent{width:44.9%;}
.width48Percent{width:48%;}
.width50Percent{width:49.9%;}
.width55Percent{width:54.9%;}
.width58Percent{width:58%;}
.width60Percent{width:59.9%;}
.width66Percent{width:66.66666%;} 
.width70Percent{width:70%;}
.width72Percent{width:72%;}
.width75Percent{width:74.9%;}
.width80Percent{width:80%;}    
.width85Percent{width:84.9%;}
.width90Percent{width:90%;}
.width95Percent{width:95%;}
.width96Percent{width:96%;}
.width98Percent{width:98%;}
.width100Percent{width:100%;}

.textAlignCenter{text-align:center;}
.textAlignLeft{text-align:left;}
.textAlignRight{text-align:right;}

.overflowHidden{overflow:hidden;}
.positionRelative{position:relative;}
.positionAbsolute{position:absolute;}
.floatLeft{float:left;}
.floatRight{float:right;}

.inner{width:94%; margin:auto;}

.marginAuto{margin:auto;}
.marginNone, .noMargin{margin:0; }

.verticalAlignMiddle {vertical-align:middle;}

.displayNone{display:none;}
.displayBlock{display:block;}
.displayInlineBlock, .inlineBlock{display:inline-block;}

.clear{clear:both; line-height:0px; height:0px; font-size:0px;}

.vpadding1Percent, .vPadding1Percent{padding-top:1%; padding-bottom:1%;}
.vpadding2Percent, .vPadding2Percent{padding-top:2%; padding-bottom:2%;}
.vpadding3Percent, .vPadding3Percent{padding-top:3%; padding-bottom:3%;}

.vmargin10{margin-top:10px; margin-bottom:10px;}
.vmargin20{margin-top:20px; margin-bottom:20px;}

.vCenter{vertical-align:middle;}

.noMargin{margin:0 !important}

.marginTop{margin-top:5%;}
.marginTop10{margin-top:10px;}
.marginTop15{margin-top:15px;}
.marginTop20{margin-top:20px;}
.marginTop30{margin-top:30px;}
.marginTop40{margin-top:40px;}
.marginTop50{margin-top:50px;}
.marginBottom50{margin-bottom:50px;}
.marginBottom20{margin-bottom:20px;}
.marginBottom10{margin-bottom:10px;}
.marginBottom5{margin-bottom:5px;}

h1, h2, h3, h4, h5, h6 { font-family:$f-stack-primary; font-weight:normal; }
 




/* begin custom theme styles */
body { background-color:#fff; color:#333; font-family:$f-stack-text }

a {outline: none;color: #21759b;text-decoration:none;}
a:hover, .widget a:hover, .post-navigation a:hover, .site-footer a:hover {color: $light-blue; }

a, button { -webkit-transition: all 200ms ease;   
  -moz-transition: all 200ms ease;
  transition: all 200ms ease; 
 }
  
#page {margin:0px auto;} 
#masthead {width:100%; padding:0; background-color:rgba(42,70,90, 0.5); position:fixed; top:0px; z-index:9999; box-shadow:0px 1px 2px rgba(0,0,0,.5); font-family:$f-stack-secondary;
	 .header-main {max-width:1260px; padding:0; margin:auto;
		.logo {font-family:"Oregano", Georgia, serif; font-size:28px; font-weight:normal; margin:0px 10px; font-style: italic;} 		
		.primary-navigation {
			li { display:block; float:left;
				&:hover {
					> a {background-color:rgba(42,70,90, 0.5); text-shadow:none; }
				}
				a { font-size:10px; letter-spacing:6px; text-shadow: 1px 1px 1px rgba(0,0,0,0.5); }
			}
			li.focus {				
				> a {background-color:rgba(42,70,90, 0.25); outline: none;}
			}
		}
	}
}

.menu-toggle {background-color:rgba(42,70,90, 0.25)}
.menu-toggle:active, .menu-toggle:focus, .menu-toggle:hover {background-color:rgba(42,70,90, 0.75);}

#main, section{margin:auto; overflow:hidden;} 
	#mainHero {min-height:500px; margin:auto; text-align:center; background-image: url('images/bg-hero.png'); background-repeat:no-repeat; background-position:center 0; background-attachment:fixed; -webkit-background-size: cover;
  -moz-background-size: cover;  -o-background-size: cover; background-size: cover; position:relative; width:100%; position:relative; line-height:500px; font-family:$f-stack-special;
		.overlay {position:absolute; /*background-color: rgba(84, 160, 215, .8);*/ width:100%; height:100%; box-shadow: inset 0 -10px 20px -20px rgba(29,92,135,0.8), inset 0 -20px 20px -10px rgba(29,92,135,0.8);}
		.intro {width:70%; font-size:18px; color:#fff; font-weight:300;  display:inline-block; vertical-align:middle; line-height:28px; border:1px solid rgba(169, 213, 254,0.5); border-left:0px; border-right:0px; padding:30px 20px 0; 
			 p {text-shadow:2px 2px 1px rgba(0,0,0,0.2);
				.large {font-size:150%}
				b {border-bottom:1px dotted rgba(255,255,255,0.5);}
				span.secondLine {
					display: block;
				}
			 }
		}
		button.continue {border:2px solid #fff; background:none; color:#fff; position:relative; bottom:-70px; position:relative; outline:none; 
			&:hover {background:#fff; color:#21759b;}
			&:before, &:after {content:" ";border:solid transparent;  top:100%; left:50%; position:absolute; height: 0; width: 0;}
			&:before {border-color:tranparent transparent;border-top-color:#fff;border-width:12px;  margin-left:-12px}
			&:after {border-top-color:#fff;border-width:12px; margin-left:-12px}
		}
	}

	.content-area {
		padding-top:0px;
		float:none; margin:auto; width:95%; overflow:hidden;
		h2 {margin:0 0 34px; line-height:2;}
	}	

	.site-content {margin:auto;}
	section.body {max-width:1260px; margin-top:48px; min-height:500px;
		.inner {width:90%; overflow:hidden;}
		.main-content {float:none; margin:auto; overflow:hidden;
			#primary {  }
			.content-area {
				padding-top:0px;
				float:none; margin:auto; width:95%; overflow:hidden;
				h2 {font-family: $f-stack-alt; margin:0 0 34px; border-bottom:1px solid $light-blue; line-height:2; 
					color:#1f5c84;
					font-size:18px; 
					text-align: center;
					letter-spacing: 12px;
				}
			}
			/* projects */
			.projects-container { overflow:hidden; 
				
				.project {min-height:350px; line-height:350px; background-repeat:no-repeat; background-position:top center; background-size:cover; position:relative; overflow:hidden; border:10px solid lighten(#bfd4e8, 13%); margin:40px auto;
					.inner {width:95%; margin:auto; text-align:center; }
					.project-overlay {position:absolute; width:100%; height:100%; background:rgba(0,0,0,0.7); top:0;left:0; text-align:center; display:none;}
					.project-content {display:inline-block; vertical-align:middle; line-height:30px; color:#fff;}
						.project-link {background:url('images/view-more.svg'); background-repeat:no-repeat; background-position:center center; color:white; text-indent:-9999px; display:block; width:40px; height:40px; margin:auto;
							&:hover {opacity:0.5;}
						}
				}
			}
		}
	}
	/* services */
	section.services {
		background-color:#f0f5fa;
		text-align: center;
		#services.content-area, #tools.content-area {
			margin: 50px auto;
			overflow: hidden;
			display: inline-block;
			max-width: 1260px;
			h2 {
				color: #1f5c84;
				font-family: $f-stack-alt;
				font-size: 18px;
				letter-spacing: 4px;
				text-align: center;
			}
			.service, .tool {
				float: left;
				width: 20%;
				text-align: center;
				margin: auto;
				background-repeat: no-repeat;
				background-position: center top;
				min-height:100px;
				min-width:100px;
				span {
					font-size: 10px;
					text-transform: uppercase;
					letter-spacing: 2px;
					display: block;
					text-align: center;
					margin: 120px auto 0 ;
					width:80%;
				}
			}
			
				.service-code {background-image:url('images/skill-code.png'); }
				.service-design {background-image:url('images/skill-design.png'); }
				.service-responsive {background-image:url('images/skill-responsive.png'); }
				.service-logo {background-image:url('images/skill-logo.png'); }
				.service-ecommerce {background-image:url('images/skill-ecommerce.png'); }
			
			.tool {
				width: 16%;	
				span { margin-top:100px; }			
			}
				.tool-photoshop {background-image:url('images/tool-photoshop.png');}
				.tool-illustrator {background-image:url('images/tool-illustrator.png');}
				.tool-sublime {background-image:url('images/tool-sublime.png');}
				.tool-wordpress {background-image:url('images/tool-wordpress.png');}
				.tool-magento {background-image:url('images/tool-magento.png');}
				.tool-bitbucket {background-image:url('images/tool-bitbucket.png');}
		}

		#tools.content-area  {
			border-top: 1px solid lighten(#1f5c84, 60%);
			width:79%;
			margin-bottom: 100px;
			h2 {
				margin: 54px 0 20px;
			}			

		}
	}
		
	[class*="content"]:before, [class*="content"]:after {content:none;}
		
		


	.list-view .content-area {margin:auto; padding:0;}
	#content h2, #content h3 {font-weight:300;}
	#content h2 {text-transform:uppercase;}
	#content h3 {font-size:20px;}
		
		.remodel-solutions {background-image:url('images/projects/project-remodel-solutions.jpg'); }
		.tribal-hollywood {background-image:url('images/projects/project-tribalhollywood.jpg'); }   
		.gitter-gallery {background-image:url('images/projects/project-gitter-gallery.jpg'); }
		.fashion-island {background-image:url('images/projects/project-fashion-island.jpg'); }
		.dance-socks {background-image:url('images/projects/project-dance-socks.jpg'); }   
		.bsasi {background-image:url('images/projects/project-bsasi.jpg'); }
		.thebeamstore {background-image:url('images/projects/project-thebeamstore.jpg'); }
			

#secondary {float:left; width:100%; overflow:hidden; margin:auto; padding:0; background:#ccc; clear:none; border:0;} 
  
footer { font-family: $f-stack-secondary; text-transform: uppercase; }
	.site-footer {background-color:#1f5c84; color:#fff;}
		.site-footer a {color:rgba(255,255,255,0.7);}
			.footer-contact  {text-align:center;}
				.footer-contact p {margin:4px auto 8px;}
				.footer-links ul {margin:6px auto;}
				.footer-links ul li {list-style-type:none;  text-align:center; display: inline-block;}
					.footer-links ul li a {display:inline-block; float:left; font-size:18px; padding:10px;} 
					.footer-links ul li a:hover {background-color:rgba(255,255,255,0.9); color:rgba(31, 92, 132, 1);}
				.footer-social {margin-top:20px; border-top:1px solid rgba(255,255,255,0.2);}
					.icon-resume {margin-top:10px;}
				.site-footer .icon {fill:rgba(255,255,255,0.4); display:inline-block; margin:10px 2px;}
					.site-footer .icon:hover {fill:rgba(255,255,255,0.9);}
				
			.site-info {float:none; width:auto; text-align:center;}
				.site-info p {margin:2px auto; padding:0; clear:both; font-size: 10px;}
					
					
	#uparrow {
		width: 100%; 
		position: fixed; bottom: 0px; 
		display: none; 
		text-align: center;
		z-index: 9999;  
		font-size: 12px;
		letter-spacing: 4px; 
		border-bottom:5px solid darken(#1f5c84, 10%);
		.arrow-up {
			
			min-height: 40px;
			min-width: 70px;
			display: inline-block;
			vertical-align: middle;			
			background-image: url('images/top.png');
			
			background-repeat:no-repeat;
			background-position: center 10px;
			-webkit-transition: background-position 200ms ease, background-image 400ms ease, opacity 400ms ease;   
		 	-moz-transition: background-position 200ms ease, background-image 400ms ease, opacity 400ms ease;
	  		transition: background-position 200ms ease,background-image 400ms ease, opacity 400ms ease;
			&:hover {
				cursor: pointer; 
				background-position: center 0px;
			}
		}		
	}
		

		

	/* articles */
	.site-content .entry-content,
	.site-content .entry-summary,
	.page-content, .site-content .entry-header {
		padding: 20px 10px 12px;
		background-color: rgba(69,129,172,0.3);	
		max-width:100%;				
	}
	
	.list-view .site-content .hentry, .list-view .site-content .hentry:first-of-type, article.post{
		border-bottom:1px solid #a9d5fe; border-top:1px solid #a9d5fe;
		overflow:hidden; padding-top:0;
	}
	
	.site-content .entry-meta {
		background-color: rgba(69,129,172,0.3);	
		color:#fff;
	}
	
	.entry-title a, .entry-meta a{color:#d5eaf6;}
	.entry-date a, .comments-link a{color:#21759b;}
	.entry-date a:hover, .entry-meta a:hover, .entry-title a:hover, .entry-meta a:hover {color:#fff;}
	
	::selection {
		background: #4eaed7;
		color: #fff;
		text-shadow: none;
	}
	
	::-moz-selection {
		background: #4eaed7;
		color: #fff;
		text-shadow: none;
	}
	
	/* Buttons */
	button,
	.button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		background-color: #c5f4b5;
		border: 0;
		border-radius: 2px;
		color: #285c15;
		font-size: 12px;
		font-weight: 700;
		padding: 10px 30px 11px;
		text-transform: uppercase;
		vertical-align: bottom;
	}
	button:hover,
	button:focus,
	.button:hover,
	.button:focus,
	input[type="button"]:hover,
	input[type="button"]:focus,
	input[type="reset"]:hover,
	input[type="reset"]:focus,
	input[type="submit"]:hover,
	input[type="submit"]:focus {
		background-color: #d3ffc4;
		color: #285c15;
	}

	button:active,
	.button:active,
	input[type="button"]:active,
	input[type="reset"]:active,
	input[type="submit"]:active {
		background-color: #8cff72;
	}
	
	
	/* resposive styling */	
	@media screen and (max-width: 783px) {
		 #masthead {
			 .header-main {
				.logo {} 		
				.primary-navigation {
					li { display:block; float:none;
						&:hover {
							> a {background-color:rgba(42,70,90, 0.5); text-shadow:none; }
						}
						a { font-size:10px; letter-spacing:6px; text-shadow: 1px 1px 1px rgba(0,0,0,0.5); padding:14px;
							&:hover {
								color:#fff;
							}
						}
					}
					li.focus {				
						> a {background-color:rgba(42,70,90, 0.25); outline: none;}
					}
					&.toggle-on {
						.menu-navigation-links-container {
							position:absolute;
							top:50px;
							right:0px;
						}
					}				
				}
				.primary-navigation.toggled-on { padding:0px;
					.menu-navigation-links-container {
						background: rgba(42, 70, 90, 0.5);
						position:absolute;
						top:48px;
						right:0px;
						width: 100%;
					} 
				}
			}
		}
		section.services {
			#services.content-area .service {
				width:270px;
				float:none; 
				display:inline-block;
				margin-top:20px;				
				span {
					margin-top: 100px;
				}
			}
		

			#tools.content-area .tool {
				width:150px;
				float:none; 
				display:inline-block;
				background-size:40%;
				margin-top:20px;
				span {
					margin-top: 60px;
				}
			}
		}
		footer {
			.site-info {
				padding: 15px 30px 50px;
			}

		}
	}

	@media screen and (max-width: 540px) {
		section.services {
			#services.content-area .service {
				width:170px;
				float:none; 
				display:inline-block;
				margin-top:20px;
				background-size: 50%;
				span {
					margin-top: 100px;
				}
			}
		

			#tools.content-area .tool {
				width:120px;
				float:none; 
				display:inline-block;
				background-size:60%;
				margin-top:20px;
				span {
					margin-top: 70px;
				}
			}

		}
		footer {
			.footer-links {
				ul {
					li { 
						display:block; 

						a {
							//font-size: 12px;
							padding: 10px 4px;
							display:block;
							float: none;
						}
					}
				}
			}
		}			
	}

	@media screen and (max-width: 420px) {
		section.services {
			#services.content-area .service {
				width:150px;				
			}			
		}
	}
	 
	@media screen and (min-width: 782px) {
		#mainHero {
			.intro { font-size:20px; line-height:30px;}
		}
		 

		
		.footer-column {float:left; width:33%;}
			
			.footer-links ul li {display:inline-block;}
				.footer-links ul li a {padding:8px; display:block; font-size:12px;}
				
				
		.footer-contact {text-align:left;
			.inner {margin:30px auto 30px 30px; width:70%;}
			h3, h6 {margin:0; padding:0; font-weight:normal;}
		}
			
			
		
		.site-info {float:right; width:auto; 

			 ul {text-align:right;}
			 .icon-wordpress, .icon-mt {float:right; margin:10px;}
		}				
			
	}
	
	@media screen and (min-width: 1024px) {		
			#mainHero .intro { font-size:24px; line-height:40px;}	
	}
