/**
 * Overriding styles for custom theme of Bootstrap
 */

 // Overriding Custom Theme Styles
@import "override/custom_theme/navigation.less";
@import "override/custom_theme/homepage.less";
@import "override/custom_theme/overlay.less";
@import "override/custom_theme/footer.less";


html, body {
	overflow-x: hidden;
}

body {
	position: relative;
}

a {	
	color: @gray-base;
	outline: none;
	transition: all .2s ease-in-out;
	&:hover {
		text-decoration: none;
	}
}

/* Buttons */
.btn {
	text-transform: uppercase;
	background-color: rgba(255,255,255,0);
	font-family: @font-family-secondary;
	transition: all .2s ease-in-out;
	border-width: 2px;
	.button-size(@padding-base-vertical; @padding-base-horizontal; @font-size-base; @line-height-base; @btn-border-radius-large;);
}
.btn-default {
	border-color: @gray-base;
	
	&:focus {
		background: none;
	} 
	&:hover {
		color: #fff;
		background-color: rgba(0,0,0,0.25);
	}
}

img {max-width: 100%;}
p {margin-bottom: 20px;} 

.vcenter {
	display: inline-block;
    vertical-align: middle;
    float: none;
}

/* Main Container  */
.main-container { 
	/* Critical position and size styles */
	min-height: 100%;
	min-width: 100%; 
	background-color: #f9f9f9; /* Needs a background or else the nav will show through */
	position: relative;
	top: 0; 
	bottom: 100%;
	right: 0;
	z-index: 1;
	transition: all 0.3s linear;
	
}





