@import url("../twentyfourteen/style.css");
/* Reset CSS */
/* line 5, scss/css/_reset.scss */
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

/* variables */
/* mixins */
/* utility classes */
/* line 22, scss/style.scss */
.pageWidth {
  width: 90%;
  max-width: 1260px;
}

/* line 24, scss/style.scss */
.widthAuto {
  width: auto;
}

/* line 25, scss/style.scss */
.width15Percent {
  width: 14.9%;
}

/* line 26, scss/style.scss */
.width16Percent {
  width: 16.6%;
}

/* line 27, scss/style.scss */
.width20Percent {
  width: 19.9%;
}

/* line 28, scss/style.scss */
.width25Percent {
  width: 24.9%;
}

/* line 29, scss/style.scss */
.width33Percent {
  width: 33.33333%;
}

/* line 30, scss/style.scss */
.width39Percent {
  width: 39%;
}

/* line 31, scss/style.scss */
.width40Percent {
  width: 39.9%;
}

/* line 32, scss/style.scss */
.width42Percent {
  width: 41.9%;
}

/* line 33, scss/style.scss */
.width45Percent {
  width: 44.9%;
}

/* line 34, scss/style.scss */
.width48Percent {
  width: 48%;
}

/* line 35, scss/style.scss */
.width50Percent {
  width: 49.9%;
}

/* line 36, scss/style.scss */
.width55Percent {
  width: 54.9%;
}

/* line 37, scss/style.scss */
.width58Percent {
  width: 58%;
}

/* line 38, scss/style.scss */
.width60Percent {
  width: 59.9%;
}

/* line 39, scss/style.scss */
.width66Percent {
  width: 66.66666%;
}

/* line 40, scss/style.scss */
.width70Percent {
  width: 70%;
}

/* line 41, scss/style.scss */
.width72Percent {
  width: 72%;
}

/* line 42, scss/style.scss */
.width75Percent {
  width: 74.9%;
}

/* line 43, scss/style.scss */
.width80Percent {
  width: 80%;
}

/* line 44, scss/style.scss */
.width85Percent {
  width: 84.9%;
}

/* line 45, scss/style.scss */
.width90Percent {
  width: 90%;
}

/* line 46, scss/style.scss */
.width95Percent {
  width: 95%;
}

/* line 47, scss/style.scss */
.width96Percent {
  width: 96%;
}

/* line 48, scss/style.scss */
.width98Percent {
  width: 98%;
}

/* line 49, scss/style.scss */
.width100Percent {
  width: 100%;
}

/* line 51, scss/style.scss */
.textAlignCenter {
  text-align: center;
}

/* line 52, scss/style.scss */
.textAlignLeft {
  text-align: left;
}

/* line 53, scss/style.scss */
.textAlignRight {
  text-align: right;
}

/* line 55, scss/style.scss */
.overflowHidden {
  overflow: hidden;
}

/* line 56, scss/style.scss */
.positionRelative {
  position: relative;
}

/* line 57, scss/style.scss */
.positionAbsolute {
  position: absolute;
}

/* line 58, scss/style.scss */
.floatLeft {
  float: left;
}

/* line 59, scss/style.scss */
.floatRight {
  float: right;
}

/* line 61, scss/style.scss */
.inner {
  width: 94%;
  margin: auto;
}

/* line 63, scss/style.scss */
.marginAuto {
  margin: auto;
}

/* line 64, scss/style.scss */
.marginNone, .noMargin {
  margin: 0;
}

/* line 66, scss/style.scss */
.verticalAlignMiddle {
  vertical-align: middle;
}

/* line 68, scss/style.scss */
.displayNone {
  display: none;
}

/* line 69, scss/style.scss */
.displayBlock {
  display: block;
}

/* line 70, scss/style.scss */
.displayInlineBlock, .inlineBlock {
  display: inline-block;
}

/* line 72, scss/style.scss */
.clear {
  clear: both;
  line-height: 0px;
  height: 0px;
  font-size: 0px;
}

/* line 74, scss/style.scss */
.vpadding1Percent, .vPadding1Percent {
  padding-top: 1%;
  padding-bottom: 1%;
}

/* line 75, scss/style.scss */
.vpadding2Percent, .vPadding2Percent {
  padding-top: 2%;
  padding-bottom: 2%;
}

/* line 76, scss/style.scss */
.vpadding3Percent, .vPadding3Percent {
  padding-top: 3%;
  padding-bottom: 3%;
}

/* line 78, scss/style.scss */
.vmargin10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 79, scss/style.scss */
.vmargin20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 81, scss/style.scss */
.vCenter {
  vertical-align: middle;
}

/* line 83, scss/style.scss */
.noMargin {
  margin: 0 !important;
}

/* line 85, scss/style.scss */
.marginTop {
  margin-top: 5%;
}

/* line 86, scss/style.scss */
.marginTop10 {
  margin-top: 10px;
}

/* line 87, scss/style.scss */
.marginTop15 {
  margin-top: 15px;
}

/* line 88, scss/style.scss */
.marginTop20 {
  margin-top: 20px;
}

/* line 89, scss/style.scss */
.marginTop30 {
  margin-top: 30px;
}

/* line 90, scss/style.scss */
.marginTop40 {
  margin-top: 40px;
}

/* line 91, scss/style.scss */
.marginTop50 {
  margin-top: 50px;
}

/* line 92, scss/style.scss */
.marginBottom50 {
  margin-bottom: 50px;
}

/* line 93, scss/style.scss */
.marginBottom20 {
  margin-bottom: 20px;
}

/* line 94, scss/style.scss */
.marginBottom10 {
  margin-bottom: 10px;
}

/* line 95, scss/style.scss */
.marginBottom5 {
  margin-bottom: 5px;
}

/* line 97, scss/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", Gerogia, serif;
  font-weight: normal;
}

/* begin custom theme styles */
/* line 104, scss/style.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: "Roboto", arial, sans-serif;
}

/* line 106, scss/style.scss */
a {
  outline: none;
  color: #21759b;
  text-decoration: none;
}

/* line 107, scss/style.scss */
a:hover, .widget a:hover, .post-navigation a:hover, .site-footer a:hover {
  color: #d5eaf6;
}

/* line 109, scss/style.scss */
a, button {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  transition: all 200ms ease;
}

/* line 114, scss/style.scss */
#page {
  margin: 0px auto;
}

/* line 115, scss/style.scss */
#masthead {
  width: 100%;
  padding: 0;
  background-color: rgba(42, 70, 90, 0.5);
  position: fixed;
  top: 0px;
  z-index: 9999;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  font-family: "Montserrat", arial, sans-serif;
}
/* line 116, scss/style.scss */
#masthead .header-main {
  max-width: 1260px;
  padding: 0;
  margin: auto;
}
/* line 117, scss/style.scss */
#masthead .header-main .logo {
  font-family: "Oregano", Georgia, serif;
  font-size: 28px;
  font-weight: normal;
  margin: 0px 10px;
  font-style: italic;
}
/* line 119, scss/style.scss */
#masthead .header-main .primary-navigation li {
  display: block;
  float: left;
}
/* line 121, scss/style.scss */
#masthead .header-main .primary-navigation li:hover > a {
  background-color: rgba(42, 70, 90, 0.5);
  text-shadow: none;
}
/* line 123, scss/style.scss */
#masthead .header-main .primary-navigation li a {
  font-size: 10px;
  letter-spacing: 6px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
/* line 126, scss/style.scss */
#masthead .header-main .primary-navigation li.focus > a {
  background-color: rgba(42, 70, 90, 0.25);
  outline: none;
}

/* line 132, scss/style.scss */
.menu-toggle {
  background-color: rgba(42, 70, 90, 0.25);
}

/* line 133, scss/style.scss */
.menu-toggle:active, .menu-toggle:focus, .menu-toggle:hover {
  background-color: rgba(42, 70, 90, 0.75);
}

/* line 135, scss/style.scss */
#main, section {
  margin: auto;
  overflow: hidden;
}

/* line 136, scss/style.scss */
#mainHero {
  min-height: 500px;
  margin: auto;
  text-align: center;
  background-image: url("images/bg-hero.png");
  background-repeat: no-repeat;
  background-position: center 0;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  width: 100%;
  position: relative;
  line-height: 500px;
  font-family: "Roboto Condensed", arial, sans-serif;
}
/* line 138, scss/style.scss */
#mainHero .overlay {
  position: absolute;
  /*background-color: rgba(84, 160, 215, .8);*/
  width: 100%;
  height: 100%;
  box-shadow: inset 0 -10px 20px -20px rgba(29, 92, 135, 0.8), inset 0 -20px 20px -10px rgba(29, 92, 135, 0.8);
}
/* line 139, scss/style.scss */
#mainHero .intro {
  width: 70%;
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  display: inline-block;
  vertical-align: middle;
  line-height: 28px;
  border: 1px solid rgba(169, 213, 254, 0.5);
  border-left: 0px;
  border-right: 0px;
  padding: 30px 20px 0;
}
/* line 140, scss/style.scss */
#mainHero .intro p {
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
}
/* line 141, scss/style.scss */
#mainHero .intro p .large {
  font-size: 150%;
}
/* line 142, scss/style.scss */
#mainHero .intro p b {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
}
/* line 143, scss/style.scss */
#mainHero .intro p span.secondLine {
  display: block;
}
/* line 148, scss/style.scss */
#mainHero button.continue {
  border: 2px solid #fff;
  background: none;
  color: #fff;
  position: relative;
  bottom: -70px;
  position: relative;
  outline: none;
}
/* line 149, scss/style.scss */
#mainHero button.continue:hover {
  background: #fff;
  color: #21759b;
}
/* line 150, scss/style.scss */
#mainHero button.continue:before, #mainHero button.continue:after {
  content: " ";
  border: solid transparent;
  top: 100%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
}
/* line 151, scss/style.scss */
#mainHero button.continue:before {
  border-color: tranparent transparent;
  border-top-color: #fff;
  border-width: 12px;
  margin-left: -12px;
}
/* line 152, scss/style.scss */
#mainHero button.continue:after {
  border-top-color: #fff;
  border-width: 12px;
  margin-left: -12px;
}

/* line 156, scss/style.scss */
.content-area {
  padding-top: 0px;
  float: none;
  margin: auto;
  width: 95%;
  overflow: hidden;
}
/* line 159, scss/style.scss */
.content-area h2 {
  margin: 0 0 34px;
  line-height: 2;
}

/* line 162, scss/style.scss */
.site-content {
  margin: auto;
}

/* line 163, scss/style.scss */
section.body {
  max-width: 1260px;
  margin-top: 48px;
}
/* line 164, scss/style.scss */
section.body .inner {
  width: 90%;
  overflow: hidden;
}
/* line 165, scss/style.scss */
section.body .main-content {
  float: none;
  margin: auto;
  overflow: hidden;
  /* projects */
}
/* line 167, scss/style.scss */
section.body .main-content .content-area {
  padding-top: 0px;
  float: none;
  margin: auto;
  width: 95%;
  overflow: hidden;
}
/* line 170, scss/style.scss */
section.body .main-content .content-area h2 {
  font-family: "Cabin", arial, sans-serif;
  margin: 0 0 34px;
  border-bottom: 1px solid #d5eaf6;
  line-height: 2;
  color: #1f5c84;
  font-size: 18px;
  text-align: center;
  letter-spacing: 12px;
}
/* line 178, scss/style.scss */
section.body .main-content .projects-container {
  overflow: hidden;
}
/* line 180, scss/style.scss */
section.body .main-content .projects-container .project {
  min-height: 350px;
  line-height: 350px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  border: 10px solid #f0f5fa;
  margin: 40px auto;
}
/* line 181, scss/style.scss */
section.body .main-content .projects-container .project .inner {
  width: 95%;
  margin: auto;
  text-align: center;
}
/* line 182, scss/style.scss */
section.body .main-content .projects-container .project .project-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  text-align: center;
  display: none;
}
/* line 183, scss/style.scss */
section.body .main-content .projects-container .project .project-content {
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  color: #fff;
}
/* line 184, scss/style.scss */
section.body .main-content .projects-container .project .project-link {
  background: url("images/view-more.svg");
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  text-indent: -9999px;
  display: block;
  width: 40px;
  height: 40px;
  margin: auto;
}
/* line 185, scss/style.scss */
section.body .main-content .projects-container .project .project-link:hover {
  opacity: 0.5;
}

/* services */
/* line 192, scss/style.scss */
section.services {
  background-color: #f0f5fa;
  text-align: center;
}
/* line 195, scss/style.scss */
section.services #services.content-area, section.services #tools.content-area {
  margin: 50px auto;
  overflow: hidden;
  display: inline-block;
}
/* line 199, scss/style.scss */
section.services #services.content-area h2, section.services #tools.content-area h2 {
  color: #1f5c84;
  font-family: "Cabin", arial, sans-serif;
  font-size: 18px;
  letter-spacing: 4px;
  text-align: center;
}
/* line 206, scss/style.scss */
section.services #services.content-area .service, section.services #services.content-area .tool, section.services #tools.content-area .service, section.services #tools.content-area .tool {
  float: left;
  width: 20%;
  text-align: center;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center top;
  min-height: 100px;
  min-width: 100px;
}
/* line 215, scss/style.scss */
section.services #services.content-area .service span, section.services #services.content-area .tool span, section.services #tools.content-area .service span, section.services #tools.content-area .tool span {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  text-align: center;
  margin: 120px auto 0;
  width: 80%;
}
/* line 226, scss/style.scss */
section.services #services.content-area .service-code, section.services #tools.content-area .service-code {
  background-image: url("images/skill-code.png");
}
/* line 227, scss/style.scss */
section.services #services.content-area .service-design, section.services #tools.content-area .service-design {
  background-image: url("images/skill-design.png");
}
/* line 228, scss/style.scss */
section.services #services.content-area .service-responsive, section.services #tools.content-area .service-responsive {
  background-image: url("images/skill-responsive.png");
}
/* line 229, scss/style.scss */
section.services #services.content-area .service-logo, section.services #tools.content-area .service-logo {
  background-image: url("images/skill-logo.png");
}
/* line 230, scss/style.scss */
section.services #services.content-area .service-ecommerce, section.services #tools.content-area .service-ecommerce {
  background-image: url("images/skill-ecommerce.png");
}
/* line 232, scss/style.scss */
section.services #services.content-area .tool, section.services #tools.content-area .tool {
  width: 16%;
}
/* line 234, scss/style.scss */
section.services #services.content-area .tool span, section.services #tools.content-area .tool span {
  margin-top: 100px;
}
/* line 236, scss/style.scss */
section.services #services.content-area .tool-photoshop, section.services #tools.content-area .tool-photoshop {
  background-image: url("images/tool-photoshop.png");
}
/* line 237, scss/style.scss */
section.services #services.content-area .tool-illustrator, section.services #tools.content-area .tool-illustrator {
  background-image: url("images/tool-illustrator.png");
}
/* line 238, scss/style.scss */
section.services #services.content-area .tool-sublime, section.services #tools.content-area .tool-sublime {
  background-image: url("images/tool-sublime.png");
}
/* line 239, scss/style.scss */
section.services #services.content-area .tool-wordpress, section.services #tools.content-area .tool-wordpress {
  background-image: url("images/tool-wordpress.png");
}
/* line 240, scss/style.scss */
section.services #services.content-area .tool-magento, section.services #tools.content-area .tool-magento {
  background-image: url("images/tool-magento.png");
}
/* line 241, scss/style.scss */
section.services #services.content-area .tool-bitbucket, section.services #tools.content-area .tool-bitbucket {
  background-image: url("images/tool-bitbucket.png");
}
/* line 244, scss/style.scss */
section.services #tools.content-area {
  border-top: 1px solid #deedf7;
  width: 79%;
  margin-bottom: 100px;
}
/* line 248, scss/style.scss */
section.services #tools.content-area h2 {
  margin: 54px 0 20px;
}

/* line 255, scss/style.scss */
[class*="content"]:before, [class*="content"]:after {
  content: none;
}

/* line 260, scss/style.scss */
.list-view .content-area {
  margin: auto;
  padding: 0;
}

/* line 261, scss/style.scss */
#content h2, #content h3 {
  font-weight: 300;
}

/* line 262, scss/style.scss */
#content h2 {
  text-transform: uppercase;
}

/* line 263, scss/style.scss */
#content h3 {
  font-size: 20px;
}

/* line 265, scss/style.scss */
.remodel-solutions {
  background-image: url("images/projects/project-remodel-solutions.jpg");
}

/* line 266, scss/style.scss */
.tribal-hollywood {
  background-image: url("images/projects/project-tribalhollywood.jpg");
}

/* line 267, scss/style.scss */
.gitter-gallery {
  background-image: url("images/projects/project-gitter-gallery.jpg");
}

/* line 268, scss/style.scss */
.fashion-island {
  background-image: url("images/projects/project-fashion-island.jpg");
}

/* line 269, scss/style.scss */
.dance-socks {
  background-image: url("images/projects/project-dance-socks.jpg");
}

/* line 270, scss/style.scss */
.bsasi {
  background-image: url("images/projects/project-bsasi.jpg");
}

/* line 271, scss/style.scss */
.thebeamstore {
  background-image: url("images/projects/project-thebeamstore.jpg");
}

/* line 274, scss/style.scss */
#secondary {
  float: left;
  width: 100%;
  overflow: hidden;
  margin: auto;
  padding: 0;
  background: #ccc;
  clear: none;
  border: 0;
}

/* line 276, scss/style.scss */
footer {
  font-family: "Montserrat", arial, sans-serif;
  text-transform: uppercase;
}

/* line 277, scss/style.scss */
.site-footer {
  background-color: #1f5c84;
  color: #fff;
}

/* line 278, scss/style.scss */
.site-footer a {
  color: rgba(255, 255, 255, 0.7);
}

/* line 279, scss/style.scss */
.footer-contact {
  text-align: center;
}

/* line 280, scss/style.scss */
.footer-contact p {
  margin: 4px auto 8px;
}

/* line 281, scss/style.scss */
.footer-links ul {
  margin: 6px auto;
}

/* line 282, scss/style.scss */
.footer-links ul li {
  list-style-type: none;
  text-align: center;
  display: inline-block;
}

/* line 283, scss/style.scss */
.footer-links ul li a {
  display: inline-block;
  float: left;
  font-size: 18px;
  padding: 10px;
}

/* line 284, scss/style.scss */
.footer-links ul li a:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: #1f5c84;
}

/* line 285, scss/style.scss */
.footer-social {
  margin-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/* line 286, scss/style.scss */
.icon-resume {
  margin-top: 10px;
}

/* line 287, scss/style.scss */
.site-footer .icon {
  fill: rgba(255, 255, 255, 0.4);
  display: inline-block;
  margin: 10px 2px;
}

/* line 288, scss/style.scss */
.site-footer .icon:hover {
  fill: rgba(255, 255, 255, 0.9);
}

/* line 290, scss/style.scss */
.site-info {
  float: none;
  width: auto;
  text-align: center;
}

/* line 291, scss/style.scss */
.site-info p {
  margin: 2px auto;
  padding: 0;
  clear: both;
  font-size: 10px;
}

/* line 294, scss/style.scss */
#uparrow {
  width: 100%;
  position: fixed;
  bottom: 0px;
  display: none;
  text-align: center;
  z-index: 9999;
  font-size: 12px;
  letter-spacing: 4px;
  border-bottom: 5px solid #153f5b;
}
/* line 303, scss/style.scss */
#uparrow .arrow-up {
  min-height: 40px;
  min-width: 70px;
  display: inline-block;
  vertical-align: middle;
  background-image: url("images/top.png");
  background-repeat: no-repeat;
  background-position: center 10px;
  -webkit-transition: background-position 200ms ease, background-image 400ms ease, opacity 400ms ease;
  -moz-transition: background-position 200ms ease, background-image 400ms ease, opacity 400ms ease;
  transition: background-position 200ms ease,background-image 400ms ease, opacity 400ms ease;
}
/* line 316, scss/style.scss */
#uparrow .arrow-up:hover {
  cursor: pointer;
  background-position: center 0px;
}

/* articles */
/* line 329, scss/style.scss */
.site-content .entry-content,
.site-content .entry-summary,
.page-content, .site-content .entry-header {
  padding: 20px 10px 12px;
  background-color: rgba(69, 129, 172, 0.3);
  max-width: 100%;
}

/* line 335, scss/style.scss */
.list-view .site-content .hentry, .list-view .site-content .hentry:first-of-type, article.post {
  border-bottom: 1px solid #a9d5fe;
  border-top: 1px solid #a9d5fe;
  overflow: hidden;
  padding-top: 0;
}

/* line 340, scss/style.scss */
.site-content .entry-meta {
  background-color: rgba(69, 129, 172, 0.3);
  color: #fff;
}

/* line 345, scss/style.scss */
.entry-title a, .entry-meta a {
  color: #d5eaf6;
}

/* line 346, scss/style.scss */
.entry-date a, .comments-link a {
  color: #21759b;
}

/* line 347, scss/style.scss */
.entry-date a:hover, .entry-meta a:hover, .entry-title a:hover, .entry-meta a:hover {
  color: #fff;
}

/* line 349, scss/style.scss */
::selection {
  background: #4eaed7;
  color: #fff;
  text-shadow: none;
}

/* line 355, scss/style.scss */
::-moz-selection {
  background: #4eaed7;
  color: #fff;
  text-shadow: none;
}

/* Buttons */
/* line 366, scss/style.scss */
button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: #c5f4b5;
  border: 0;
  border-radius: 2px;
  color: #285c15;
  font-size: 12px;
  font-weight: 700;
  padding: 10px 30px 11px;
  text-transform: uppercase;
  vertical-align: bottom;
}

/* line 386, scss/style.scss */
button:hover,
button:focus,
.button:hover,
.button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #d3ffc4;
  color: #285c15;
}

/* line 395, scss/style.scss */
button:active,
.button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  background-color: #8cff72;
}

/* resposive styling */
@media screen and (max-width: 783px) {
  /* line 406, scss/style.scss */
  #masthead .header-main .primary-navigation li {
    display: block;
    float: none;
  }
  /* line 408, scss/style.scss */
  #masthead .header-main .primary-navigation li:hover > a {
    background-color: rgba(42, 70, 90, 0.5);
    text-shadow: none;
  }
  /* line 410, scss/style.scss */
  #masthead .header-main .primary-navigation li a {
    font-size: 10px;
    letter-spacing: 6px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    padding: 14px;
  }
  /* line 411, scss/style.scss */
  #masthead .header-main .primary-navigation li a:hover {
    color: #fff;
  }
  /* line 417, scss/style.scss */
  #masthead .header-main .primary-navigation li.focus > a {
    background-color: rgba(42, 70, 90, 0.25);
    outline: none;
  }
  /* line 420, scss/style.scss */
  #masthead .header-main .primary-navigation.toggle-on .menu-navigation-links-container {
    position: absolute;
    top: 50px;
    right: 0px;
  }
  /* line 427, scss/style.scss */
  #masthead .header-main .primary-navigation.toggled-on {
    padding: 0px;
  }
  /* line 428, scss/style.scss */
  #masthead .header-main .primary-navigation.toggled-on .menu-navigation-links-container {
    background: rgba(42, 70, 90, 0.5);
    position: absolute;
    top: 48px;
    right: 0px;
    width: 100%;
  }

  /* line 439, scss/style.scss */
  section.services #services.content-area .service {
    width: 270px;
    float: none;
    display: inline-block;
    margin-top: 20px;
  }
  /* line 444, scss/style.scss */
  section.services #services.content-area .service span {
    margin-top: 100px;
  }
  /* line 450, scss/style.scss */
  section.services #tools.content-area .tool {
    width: 150px;
    float: none;
    display: inline-block;
    background-size: 40%;
    margin-top: 20px;
  }
  /* line 456, scss/style.scss */
  section.services #tools.content-area .tool span {
    margin-top: 60px;
  }

  /* line 462, scss/style.scss */
  footer .site-info {
    padding: 15px 30px 50px;
  }
}
@media screen and (max-width: 540px) {
  /* line 471, scss/style.scss */
  section.services #services.content-area .service {
    width: 170px;
    float: none;
    display: inline-block;
    margin-top: 20px;
    background-size: 50%;
  }
  /* line 477, scss/style.scss */
  section.services #services.content-area .service span {
    margin-top: 100px;
  }
  /* line 483, scss/style.scss */
  section.services #tools.content-area .tool {
    width: 120px;
    float: none;
    display: inline-block;
    background-size: 60%;
    margin-top: 20px;
  }
  /* line 489, scss/style.scss */
  section.services #tools.content-area .tool span {
    margin-top: 70px;
  }

  /* line 498, scss/style.scss */
  footer .footer-links ul li {
    display: block;
  }
  /* line 501, scss/style.scss */
  footer .footer-links ul li a {
    padding: 10px 4px;
    display: block;
    float: none;
  }
}
@media screen and (max-width: 420px) {
  /* line 515, scss/style.scss */
  section.services #services.content-area .service {
    width: 150px;
  }
}
@media screen and (min-width: 782px) {
  /* line 523, scss/style.scss */
  #mainHero .intro {
    font-size: 20px;
    line-height: 30px;
  }

  /* line 528, scss/style.scss */
  .footer-column {
    float: left;
    width: 33%;
  }

  /* line 530, scss/style.scss */
  .footer-links ul li {
    display: inline-block;
  }

  /* line 531, scss/style.scss */
  .footer-links ul li a {
    padding: 8px;
    display: block;
    font-size: 12px;
  }

  /* line 534, scss/style.scss */
  .footer-contact {
    text-align: left;
  }
  /* line 535, scss/style.scss */
  .footer-contact .inner {
    margin: 30px auto 30px 30px;
    width: 70%;
  }
  /* line 536, scss/style.scss */
  .footer-contact h3, .footer-contact h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }

  /* line 541, scss/style.scss */
  .site-info {
    float: right;
    width: auto;
  }
  /* line 543, scss/style.scss */
  .site-info ul {
    text-align: right;
  }
  /* line 544, scss/style.scss */
  .site-info .icon-wordpress, .site-info .icon-mt {
    float: right;
    margin: 10px;
  }
}
@media screen and (min-width: 1024px) {
  /* line 550, scss/style.scss */
  #mainHero .intro {
    font-size: 24px;
    line-height: 40px;
  }
}
